@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Fira+Code:wght@400;500;600&display=swap");

:root {
  --font-main: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}

html {
  font-family: var(--font-main);
}

body {
  font-family: var(--font-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
}
@keyframes gradient { 0% { background-position: 0% 50%; } 50% { background-position: 100% 50%; } 100% { background-position: 0% 50%; } }
